#root{
   width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   padding-top: 56px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}
.Header a{
  color: white;
}
.Header a:hover{
  color: #070616;

}
.Header, .Footer {
  width: 100%;
  background-color: #dc6e7c;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15.5px;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 12.5px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  
}
.logout{
  background-color: #dc6e7c;
  position: absolute;
  border: 2px solid #dc6e7c;
  box-shadow:#22C55E;
  border-radius: 10px;
  padding: 10px; 
  top: -5px;
  right: 20px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 15px;
  font-weight: 300;
  font-size: 32px;
}
.logout:hover{
 background-color: #FFFFFF; /* Green */
 color: black;
}
.create-course{
  background-color: #22C55E;
  position:relative;
  border: 1px solid black;
  padding: 100px;
  color: white;
}
.course:nth-child(1){
  background-color: #EF4444;
  position:relative;
  border: 1px solid black;
  padding: 100px;
  color: white;
}
.course:nth-child(2){
  background-color: #18181B;
  position:relative;
  border: 1px solid black;
  padding: 100px;
}
.course:nth-child(3){
  background-color:#3B3B43;
  position:relative;
  border: 1px solid black;
  padding: 100px;
}
.course:nth-child(4){
  background-color: #858594;
  position:relative;
  border: 1px solid black;
  padding: 100px;
  
}
td a{
  color: white;
}
.course{
  background-color: #8ec1d6;
}

.course:nth-child(5){
  position:relative;
  border: 1px solid black;
  padding: 100px;
  background-color:#D4D4D8;
  color: black;
}
.course:nth-child(6){
  background-color: #8860EF;
  color: black;
  position:relative;
  border: 1px solid black;
  padding: 100px;
  
}
.assignments{
  background-color: #262730;
  position: relative;
  border: 1px solid black;
  padding: 45px;
  color: white;
}
.tests{
  background-color: #434553;
  position: relative;
  border: 1px solid black;
  padding: 45px;
  color: white;
  
}
.messages{
  background-color: #8084A1;
  position: relative;
  border: 1px solid black;
  padding: 45px;
  color: black;
}
.profiles{
  background-color: #C6CAE6;
  position: relative;
  border: 1px solid black;
  padding: 45px;
 color: black;
}
.home{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 75px;
  padding: 30px;
  align-items:stretch;
}
.All_Courses{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#ACECA1;
  padding: 10px;
  right: 10px;
  display: relative;
  
  
}
.addClass{
  position:absolute;
  left: 570px;
  background-color: #DB3F29;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px;
  color: white;
  margin-left: 20px;
  border-radius: 10px;
}
.removeClass{
  position:absolute;
  left: 570px;

  border-radius: 10px;
  margin-left: 20px;
  padding: 15px;
  background-color: #5BC0BE;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Courses{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
  padding-bottom: 87vh;
  margin-left: 54px;
}
.addButton{
  position:sticky;
  bottom: 1050px;
  left: 1500px;
  display: inline-block;
  background-color: #1B2F33;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  color: white;
  border-radius: 15px;
}
.editButton{
  position: relative;
  margin-left: 20px;
  padding: 10px;
  background-color:#339989;
  border-radius: 15px;
}
.deleteButton{
  position: relative;
  margin-left: 20px;
  background-color: #D84797;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  color: white;
  border-radius: 15px;
}
.editCourse{
  position: absolute;
  top: 15px;
  left: 16px;
  background-color: #c2532e;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  
  color: white;
  border-radius: 15px;
}
.container{
  padding-bottom: 35vh;
}
.container h2{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 5px;
}
.container p{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-label{
  font-size: 16px;
  position: relative;
}
.form-label2{
  font-size: 16px;
  position: relative;
  left: 15px;
}
.form-control{
  padding: 10px;
  margin: 10px;
}
.form-control2{
  padding: 10px;
  margin-left: 40px;
}
.btn1{
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 75px;
  font: bold 15px arial,sans-serif;
  text-shadow: none;
  margin-left: 145px;
  margin-top: 25px;
}

.Home_Courses, .Home_Threads, .Home_Tests, .Home_Settings, .Home_Courses1{
  border: 1px solid white;
  position: relative;
  bottom: 55px;
  height: 100px;
  width: 150px;
  display: flex;
  flex-wrap: nowrap;
  padding: 140px;
  grid-template-columns: auto auto auto auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  right: 75vh;
  
  background-color:#aaefdf;
}
.homecourse{
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  margin-left: 1525px;
  justify-content: space-between;
}
.Home_Courses{
  background-color: #F59E0B;
  margin: 0px 25px;
}

.Home_Threads{
  background-color: #4747cb;
  color: white;
  margin: 0px 25px;
}
.Home_Tests{
  background-color: #3A3A42;
  color: white;
  margin: 0px 25px;
}
.Home_Settings{
  background-color: #03012C;
  color: white;
  margin: 0px 25px;
}
.HomeCourses{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: -355px;
  margin-top: 15px;
  height: 120vh;
  ;
}
.Home_Courses1{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: -145px;
  margin-top: 15px;
}
.NewCourse{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding: 145px;
}
.NewCourse h2{
  position: absolute;
  top: 35px;
  left: 225px;
}
.NewLecture{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15vh;
  margin-bottom:50vh;
  justify-content: center;
  height: auto;
  padding: 105px;
  background-color: #F59E0B;
}
.NewLecture h2{
  position: relative;
  font-family:sans-serif;
  left: 300px;
  font-weight:400px;
}
.registerForm{
  width: 400px;
  background-color: #F59E0B;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 70px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-bottom:50vh;
  justify-content: center;
}
.registerForm h2{
  position: relative;
  font-family:sans-serif;
  left: 100px;
  font-weight:400px;
}
.submitBtn{
  position: relative;
  width:20vh;
  left: 125px;
  margin-top:15px;
  font-size: 15px;
  padding: 20px;
  border-radius: 10px; 
  background-color: #111827;
  color: white
}
.submitBtn:hover{
  background-color: #FFFFFF; /* Green */
  color: black;
}
.profile-page{
  width: 400px;
  background-color: #F59E0B;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 70px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-bottom:50vh;
  justify-content: center;
}
.profile-page h2{
  position: relative;
  font-family:sans-serif;
  left: 140px;
  font-weight:400px;
}
.NewAssignment{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15vh;
  margin-bottom:50vh;
  justify-content: center;
  height: auto;
  padding: 105px;
  background-color: #DB3F29;
}
.NewAssignment h2{
  position: relative;
  font-family:sans-serif;
  left: 250px;
  font-weight:400px;
}
.NewTest{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15vh;
  margin-bottom:50vh;
  justify-content: center;
  height: auto;
  padding: 105px;
  background-color: #AC58F5;
}
.NewTest h2{
  position: relative;
  font-family:sans-serif;
  left: 250px;
  font-weight:400px;
}
.NewThread{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15vh;
  margin-bottom:50vh;
  top: 15px;
  justify-content: center;
  height: auto;
  padding: 145px;
  background-color: #F29559;
}
.NewThread h2{
  position: absolute;
  font-family:sans-serif;
  top: 65px;
  left: 195px;
}
.NewMessage{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 25vh;
  margin-bottom:50vh;
  justify-content: center;
  height: auto;
  padding: 75px;
  background-color: #8EC1D6;
}
.NewMessage h2{
  position: absolute;
  font-family:sans-serif;
  left: 100px;
  bottom: 600px;
  margin-bottom: 10px;
  font-weight:100px;
  font-size: 25px;
  border: 1px solid black;
  padding: 20px;
  background-color: #8EC1D6;
}
.btn-spacious {
  width: 140px;
  margin-top: 20px;
  padding: 7.5px;
  margin-right: 20px;
  position: relative;
  bottom: 10px;  /* adjust as needed */
}
.btn-login{
  position: relative;
  right: 150px;
}
.register-label{
  right: 50px;
}
.btn-logout{
  width: 140px;
  margin-right: 20px;
  margin-top: 10px;
  position: relative;
  padding: 7.5px;
}
.btn-profile{
  width: 250px;
  left: 40px;
  margin-right: 40px;
}
.btn-reset {
  width: 170px;
  margin-right: 40px;
  left: 40px;  /* adjust as needed */
}
.addMessage{
  position:sticky;
  bottom: 1050px;
  left: 200px;
  display: inline-block;
  background-color: #1B2F33;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px;
  color: white;
  border-radius: 15px;
}
.deleteClass{
  position: absolute;
  left: 445px;
  background-color: #0F203A;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
  border-radius: 15px
}
.grades{
  position: absolute;
  left: 445px;
  background-color: #0F203A;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
  border-radius: 15px
}